<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="layout" value="${longdate} [${pad:padding=5:inner=${level:uppercase=true}}] [${pad:padding=15:inner=${logger:shortName=true}}] ${message} ${exception:format=ToString,StackTrace} ${stacktrace:raw}" />
  <variable name="footer" value="${newline}${newline}"/>
  <targets>
    <target xsi:type="Console" name="console" layout="${var:layout}" />
    <target xsi:type="File" name="file" layout="${var:layout}" filename="${basedir}/Logs/${shortdate}.txt" footer="${var:footer}" />
  </targets>
  <rules>
    <logger name="*" writeTo="console,file" minlevel="Debug" />
  </rules>
</nlog>